.button {
    cursor: pointer;

    border: none;
    border-radius: 0.8rem;
    background-color: var(--color-dark-navy-100);

    font-family: inherit;
    font-size: inherit;
    font-weight: var(--fw-bold);
    color: var(--color-white);

    &:active,
    &:hover {
        background: var(--color-gradient-1);
        box-shadow: var(--shadow-button-active);
    }
}
