@use "../abstracts";


.card {
    background-color: var(--color-white);
    max-width: 37.5rem;

    display: grid;
    grid-template-areas: 
        "image"
        "content";
    grid-template-rows: max-content 1fr;
    gap: 4rem;

    &__image {
        grid-area: image;
    }

    &__content {
        grid-area: content;
        display: grid;
        row-gap: 4rem;
    }

    &--signup {
        & .card__content {
            padding: 0rem 2.4rem 4rem;
        }
    }

    &--success {
        height: 100vh;
        padding: 14.9rem 2.4rem 4rem;
        
        & .card__content {
            grid-template-rows: 1fr 5.6rem;
        }
    }

    &--hidden {
        display: none;
    }

    @media only screen and (min-width: abstracts.$bp-desktop) {
        max-width: 92.8rem;

        grid-template-areas: 
            "content image";
        grid-template-rows: 1fr;
        gap: 2.4rem;
        padding: 2.4rem;
        border-radius: 3.6rem;

        &--signup {
            & .card__content {
                padding: 7.4rem 4rem;
            }
        }

        &--success {
            height: auto;
            max-width: 50.4rem;
            padding: 4.8rem 6.4rem 6.4rem;
            grid-template-areas: 
                "image"
                "content";
            gap: 4rem;
        }
    }
}
