@use "../abstracts";


body {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5em;
}
  
.heading {
    font-family: var(--ff-body);
    font-weight: var(--fw-bold);
    font-style: normal;
    font-size: 4rem;
    line-height: 1em;

    @media only screen and (min-width: abstracts.$bp-desktop) {
        font-size: 5.6rem;
    }
}
